body {
    background-color: darkred;
    }
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 50px;
  }
  img {
    width: 200px;  
    height: auto;  
    border-radius: 10px; 
  }